body, html {margin: 0;}
body {
    background-image: url("bkgnd.JPG");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}
#app {
    width: 80%;
    margin: 0 auto;
    font-family: Calibri, serif;
}
/* form style */
form {
    width: 100%;
    margin: 0 auto;
}
form .container {
    padding: 15px;
    border: 2px solid #999999;
    color: #000;
}
form .container:nth-child(even) {
    background-color: rgba(179, 179, 179, 0.7);
}
form .container:nth-child(odd) {
    background-color: rgba(255,255,255,0.7);
}
form #choices {
    margin: 15px;
}
form label {
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    font-size: 25px;
}
input[type=radio] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;

    margin-right: 50px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #31abde;
    border-radius: 50%;
}
.radio label:before {
    border-radius: 50%;
}
input[type=radio]:checked + label:before {
    content: "\272A";
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    line-height: 32px;
}
.btn {
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px #999;
    float: right;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}


/* Answer Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(179, 179, 179, 0.7);
}
tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.7);
}